* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

body {
  scroll-behavior: unset;
}

body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-thumb {
  background: #ffb300;
  height: 100px;
}

body::-webkit-scrollbar-thumb:hover {
  background: rgb(202, 131, 1);
  height: 150px;
}

.grid_container {
  width: 100%;
  max-width: 1440px;
  padding: 10px 0px;
  background: #010101;
  overflow: hidden;
  position: relative;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 1em;
  grid-template-areas: "grid_header                grid_header                 grid_header" "grid_sectionTime           grid_sectionTime            grid_sectionTime" "grid_sectionVisiting       grid_sectionVisiting        grid_sectionVisiting" "grid_section_paragraph     grid_section_paragraphBtn   grid_section_paragraphBtn" "grid_image                 grid_paranormal             grid_paranormal" "grid_discoveries           grid_video                  grid_video" "grid_footer                grid_footer                 grid_footer";
}
.grid_container .grid_header {
  padding: 10px 0px;
  background: #010101;
  grid-area: grid_header;
}
.grid_container .grid_sectionTime {
  padding: 10px 0px;
  background: #010101;
  grid-area: grid_sectionTime;
}
.grid_container .grid_sectionVisiting {
  padding: 10px 0px;
  background: #010101;
  grid-area: grid_sectionVisiting;
}
.grid_container .grid_section_paragraph {
  padding: 10px 0px;
  background: #010101;
  grid-area: grid_section_paragraph;
}
.grid_container .grid_section_paragraphBtn {
  padding: 10px 0px;
  background: #010101;
  grid-area: grid_section_paragraphBtn;
}
.grid_container .grid_image {
  margin-top: -100px;
  padding: 10px 0px;
  background: #010101;
  grid-area: grid_image;
}
.grid_container .grid_paranormal {
  padding: 10px 0px;
  background: #010101;
  grid-area: grid_paranormal;
}
.grid_container .grid_discoveries {
  padding: 10px 0px;
  background: #010101;
  grid-area: grid_discoveries;
}
.grid_container .grid_video {
  padding: 10px 0px;
  background: #010101;
  grid-area: grid_video;
}
.grid_container .grid_footer {
  padding: 10px 0px;
  background: #010101;
  grid-area: grid_footer;
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .grid_container {
    width: 100%;
    max-width: 1440px;
    padding: 10px 0px;
    background: #010101;
    overflow: hidden;
    position: relative;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 1em;
    grid-template-areas: "grid_header                grid_header                 grid_header" "grid_sectionTime           grid_sectionTime            grid_sectionTime" "grid_sectionVisiting       grid_sectionVisiting        grid_sectionVisiting" "grid_image                 grid_section_paragraphBtn   grid_section_paragraphBtn" "grid_paranormal            grid_paranormal             grid_section_paragraph" "grid_discoveries           grid_video                  grid_video" "grid_footer                grid_footer                 grid_footer";
  }
  .grid_container .grid_image {
    margin-top: initial;
    padding: 10px 0px;
    background: #010101;
    grid-area: grid_image;
  }
}
@media (min-width: 900px) and (max-width: 1024px) {
  .grid_container {
    width: 100%;
    max-width: 1440px;
    padding: 10px 0px;
    background: #010101;
    overflow: hidden;
    position: relative;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 1em;
    grid-template-areas: "grid_header                grid_header                 grid_header" "grid_sectionTime           grid_sectionTime            grid_sectionTime" "grid_sectionVisiting       grid_sectionVisiting        grid_sectionVisiting" "grid_image                 grid_section_paragraphBtn   grid_section_paragraphBtn" "grid_paranormal            grid_paranormal             grid_section_paragraph" "grid_video                 grid_video                  grid_video" "grid_discoveries           grid_discoveries            grid_discoveries" "grid_footer                grid_footer                 grid_footer";
  }
  .grid_container .grid_image {
    margin-top: initial;
    padding: 40px 0px;
    background: #010101;
    grid-area: grid_image;
  }
}
@media (min-width: 770px) and (max-width: 899px) {
  .grid_container {
    width: 100%;
    max-width: 1440px;
    padding: 10px 0px;
    background: #010101;
    overflow: hidden;
    position: relative;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 1em;
    grid-template-areas: "grid_header                grid_header                 grid_header" "grid_sectionTime           grid_sectionTime            grid_sectionTime" "grid_sectionVisiting       grid_sectionVisiting        grid_sectionVisiting" "grid_section_paragraphBtn  grid_section_paragraphBtn   grid_section_paragraphBtn" "grid_image                 grid_image                  grid_section_paragraph" "grid_paranormal            grid_paranormal             grid_paranormal" "grid_video                 grid_video                  grid_video" "grid_discoveries           grid_discoveries            grid_discoveries" "grid_footer                grid_footer                 grid_footer";
  }
  .grid_container .grid_image {
    margin-top: initial;
    padding: 40px 0px;
    background: #010101;
    grid-area: grid_image;
  }
}
@media (min-width: 641px) and (max-width: 769px) {
  .grid_container {
    width: 100%;
    max-width: 1440px;
    padding: 10px 0px;
    background: #010101;
    overflow: hidden;
    position: relative;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 1em;
    grid-template-areas: "grid_header                grid_header                 grid_header" "grid_sectionTime           grid_sectionTime            grid_sectionTime" "grid_sectionVisiting       grid_sectionVisiting        grid_sectionVisiting" "grid_section_paragraphBtn  grid_section_paragraphBtn   grid_section_paragraphBtn" "grid_image                 grid_image                  grid_section_paragraph" "grid_paranormal            grid_paranormal             grid_paranormal" "grid_video                 grid_video                  grid_video" "grid_discoveries           grid_discoveries            grid_discoveries" "grid_footer                grid_footer                 grid_footer";
  }
  .grid_container .grid_image {
    margin-top: initial;
    padding: 40px 0px;
    background: #010101;
    grid-area: grid_image;
  }
}
@media (min-width: 481px) and (max-width: 640px) {
  .grid_container {
    width: 100%;
    max-width: 1440px;
    padding: 10px 0px;
    background: #010101;
    overflow: hidden;
    position: relative;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 5px;
    grid-template-areas: "grid_header                grid_header                 grid_header" "grid_sectionTime           grid_sectionTime            grid_sectionTime" "grid_sectionVisiting       grid_sectionVisiting        grid_sectionVisiting" "grid_section_paragraphBtn  grid_section_paragraphBtn   grid_section_paragraphBtn" "grid_image                 grid_image                  grid_section_paragraph" "grid_paranormal            grid_paranormal             grid_paranormal" "grid_video                 grid_video                  grid_video" "grid_discoveries           grid_discoveries            grid_discoveries" "grid_footer                grid_footer                 grid_footer";
  }
  .grid_container .grid_image {
    margin-top: initial;
    padding: 40px 0px;
    background: #010101;
    grid-area: grid_image;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .grid_container {
    width: 100%;
    max-width: 1440px;
    padding: 10px 0px;
    background: #010101;
    overflow: initial;
    position: relative;
    margin: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    gap: 5px;
    grid-template-areas: "grid_header" "grid_sectionTime" "grid_sectionVisiting" "grid_section_paragraph" "grid_section_paragraphBtn" "grid_image" "grid_paranormal" "grid_video" "grid_discoveries" "grid_footer";
  }
  .grid_container .grid_header {
    padding: 10px 0px;
    height: 83px;
    grid-area: grid_header;
  }
  .grid_container .grid_sectionTime {
    padding: 10px 0px;
    grid-area: grid_sectionTime;
  }
  .grid_container .grid_sectionVisiting {
    padding: 10px 0px;
    grid-area: grid_sectionVisiting;
  }
  .grid_container .grid_section_paragraph {
    padding: 10px 0px;
    grid-area: grid_section_paragraph;
  }
  .grid_container .grid_section_paragraphBtn {
    padding: 10px 0px;
    grid-area: grid_section_paragraphBtn;
  }
  .grid_container .grid_image {
    margin-top: initial;
    padding: 10px 0px;
    grid-area: grid_image;
  }
  .grid_container .grid_paranormal {
    padding: 10px 0px;
    grid-area: grid_paranormal;
  }
  .grid_container .grid_discoveries {
    padding: 10px 0px;
    grid-area: grid_discoveries;
  }
  .grid_container .grid_video {
    padding: 10px 0px;
    grid-area: grid_video;
  }
  .grid_container .grid_footer {
    padding: 10px 0px;
    grid-area: grid_footer;
  }
}
.imagenFlotante {
  width: 100%;
  padding: 0px;
  position: absolute;
  top: 0px;
  z-index: 0;
}

@media (min-width: 320px) and (max-width: 640px) {
  .imagenFlotante {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 640px) {
  .imagenFlotanteMovil {
    width: 100%;
    height: 700px;
    background-image: url(../images/hallowee.jpg);
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    z-index: 0;
  }
}
.contHeader {
  width: 100%;
  padding: 10px 30px;
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 30;
}
.contHeader .contHeader_logo {
  font-size: 30px;
}
.contHeader .contHeader_logo .contHeader_logo_text {
  color: #ffffff;
  font-size: 80px;
  font-weight: 700;
  font-family: "Kolker Brush", cursive;
}
.contHeader .contHeader_logo .contHeader_logo_text .textLogo {
  color: #ffffff;
  font-size: 80px;
  font-weight: 200;
  font-family: "Kolker Brush", cursive;
}
.contHeader .contHeader__ul {
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.contHeader .contHeader__ul .contHeader__ul_li_active {
  padding: 10px 10px;
  text-align: center;
  list-style: none;
  border-bottom: 2px solid white;
}
.contHeader .contHeader__ul .contHeader__ul_li_active .link {
  text-decoration: none;
  color: #ffffff;
  font-weight: 300;
}
.contHeader .contHeader__ul .contHeader__ul_li_active .link:hover {
  color: #ffffff;
  font-weight: 600;
}
.contHeader .contHeader__ul .contHeader__ul_li {
  padding: 10px 10px;
  text-align: center;
  list-style: none;
  transition: 0.3s all ease;
}
.contHeader .contHeader__ul .contHeader__ul_li .link {
  text-decoration: none;
  color: #ffffff;
  font-weight: 300;
}
.contHeader .contHeader__ul .contHeader__ul_li:hover {
  border-bottom: 2px solid white;
}
.contHeader .contHeader__ul .contHeader__ul_li:hover .link {
  color: #ffffff;
  font-weight: 600;
}
.contHeader .contHeader_btnResponsive {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  display: none;
}
.contHeader .contHeader_btnResponsive .iconResponsive {
  font-size: 30px;
  cursor: pointer;
}

.contHeader_JS {
  background: rgba(0, 0, 0, 0.888);
}

.linea {
  margin: 80px auto;
  width: 80%;
  height: 1.5px;
  border: none;
  background: #010101;
  position: relative;
  z-index: 10;
}

@media (min-width: 320px) and (max-width: 900px) {
  .contHeader {
    width: 100%;
    padding: 10px 0px;
    background: #010101;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 30;
  }
  .contHeader .contHeader_logo {
    font-size: initial;
    margin-left: 15px;
  }
  .contHeader .contHeader_logo .contHeader_logo_text {
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
    font-family: "Kolker Brush", cursive;
  }
  .contHeader .contHeader_logo .contHeader_logo_text .textLogo {
    color: #ffffff;
    font-size: 60px;
    font-weight: 200;
    font-family: "Kolker Brush", cursive;
  }
  .contHeader .contHeader__ul {
    width: 290px;
    height: 100vh;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    top: 85px;
    right: -100%;
    background: #010101;
    transition: 0.2s ease-in-out;
  }
  .contHeader .contHeader__ul .contHeader__ul_li_active {
    width: 100%;
    padding: 10px 0px;
    text-align: start;
    list-style: none;
    border-bottom: 2px solid white;
    margin-bottom: 20px;
  }
  .contHeader .contHeader__ul .contHeader__ul_li_active .link {
    text-decoration: none;
    color: #ffffff;
    font-weight: 300;
  }
  .contHeader .contHeader__ul .contHeader__ul_li_active .link:hover {
    color: #ffffff;
    font-weight: 600;
  }
  .contHeader .contHeader__ul .contHeader__ul_li {
    width: 100%;
    padding: 10px 0px;
    text-align: start;
    list-style: none;
    transition: 0.3s all ease;
    margin-bottom: 20px;
  }
  .contHeader .contHeader__ul .contHeader__ul_li .link {
    text-decoration: none;
    color: #ffffff;
    font-weight: 300;
  }
  .contHeader .contHeader__ul .contHeader__ul_li:hover {
    border-bottom: 2px solid white;
  }
  .contHeader .contHeader__ul .contHeader__ul_li:hover .link {
    color: #ffffff;
    font-weight: 600;
  }
  .contHeader .contHeader__ul_JS {
    background: rgba(0, 0, 0, 0.888);
    right: 0;
  }
  .contHeader .contHeader_btnResponsive {
    width: initial;
    height: initial;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    display: block;
    margin-right: 15px;
  }
  .contHeader .contHeader_btnResponsive .iconResponsive {
    color: #ffb300;
    font-size: 40px;
    cursor: pointer;
  }

  .linea {
    margin: 80px auto;
    width: 80%;
    height: 1.5px;
    border: none;
    background: #010101;
    position: relative;
    z-index: 10;
  }
}
.contSectionTime {
  margin-top: 50px;
  width: 100%;
  height: 600px;
  background: transparent;
  position: relative;
}
.contSectionTime .contSectionTime_title {
  width: 500px;
  font-size: 80px;
  font-weight: 900;
  position: absolute;
  left: 50px;
  top: 80px;
  letter-spacing: -2px;
  line-height: 80px;
  color: #ffffff;
}
.contSectionTime .contSectionTime_time {
  width: 150px;
  padding: 5px;
  position: absolute;
  bottom: 20px;
  right: 50px;
}
.contSectionTime .contSectionTime_time .contSectionTime_time_text {
  color: #ffffff;
  font-weight: 300;
  font-size: 16px;
}
.contSectionTime .contSectionTime_time .contSectionTime_time_text .spFrid {
  color: #ffb300;
}
.contSectionTime .contSectionTime_time .contSectionTime_time_contPro {
  margin-top: 5px;
}
.contSectionTime .contSectionTime_time .contSectionTime_time_contPro .iconPro {
  font-size: 25px;
  color: #ffffff;
}
.contSectionTime .contSectionTime_time .contSectionTime_time_contPro .grados {
  font-size: 25px;
  color: #ffffff;
}

@media (min-width: 641px) and (max-width: 899px) {
  .contSectionTime {
    margin-top: 50px;
    width: 100%;
    height: 480px;
    background: transparent;
    position: relative;
  }
  .contSectionTime .contSectionTime_title {
    width: 500px;
    font-size: 60px;
    font-weight: 900;
    position: absolute;
    left: 50px;
    top: 80px;
    letter-spacing: -2px;
    line-height: 60px;
    color: #ffffff;
  }
  .contSectionTime .contSectionTime_time {
    width: 150px;
    padding: 5px;
    position: absolute;
    bottom: 20px;
    right: 50px;
  }
  .contSectionTime .contSectionTime_time .contSectionTime_time_text {
    color: #ffffff;
    font-weight: 300;
    font-size: 16px;
  }
  .contSectionTime .contSectionTime_time .contSectionTime_time_text .spFrid {
    color: #ffb300;
  }
  .contSectionTime .contSectionTime_time .contSectionTime_time_contPro {
    margin-top: 5px;
  }
  .contSectionTime .contSectionTime_time .contSectionTime_time_contPro .iconPro {
    font-size: 25px;
    color: #ffffff;
  }
  .contSectionTime .contSectionTime_time .contSectionTime_time_contPro .grados {
    font-size: 25px;
    color: #ffffff;
  }
}
@media (min-width: 481px) and (max-width: 640px) {
  .contSectionTime {
    margin-top: 50px;
    width: 100%;
    height: 480px;
    background: transparent;
    position: relative;
  }
  .contSectionTime .contSectionTime_title {
    width: 380px;
    font-size: 60px;
    font-weight: 900;
    position: absolute;
    left: 20px;
    top: 80px;
    letter-spacing: -2px;
    line-height: 60px;
    color: #ffffff;
  }
  .contSectionTime .contSectionTime_time {
    width: 150px;
    padding: 5px;
    position: absolute;
    bottom: 20px;
    right: 50px;
  }
  .contSectionTime .contSectionTime_time .contSectionTime_time_text {
    color: #ffffff;
    font-weight: 300;
    font-size: 16px;
  }
  .contSectionTime .contSectionTime_time .contSectionTime_time_text .spFrid {
    color: #ffb300;
  }
  .contSectionTime .contSectionTime_time .contSectionTime_time_contPro {
    margin-top: 5px;
  }
  .contSectionTime .contSectionTime_time .contSectionTime_time_contPro .iconPro {
    font-size: 25px;
    color: #ffffff;
  }
  .contSectionTime .contSectionTime_time .contSectionTime_time_contPro .grados {
    font-size: 25px;
    color: #ffffff;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .contSectionTime {
    margin-top: initial;
    width: 100%;
    height: 500px;
    background: transparent;
    position: relative;
  }
  .contSectionTime .contSectionTime_title {
    width: 100%;
    padding: 0px 10px;
    font-size: 48px;
    font-weight: 900;
    position: absolute;
    left: 0px;
    top: 90px;
    letter-spacing: -2px;
    line-height: 45px;
    color: rgb(255, 255, 255);
  }
  .contSectionTime .contSectionTime_time {
    width: 150px;
    padding: 5px;
    position: absolute;
    bottom: 20px;
    right: 15px;
  }
  .contSectionTime .contSectionTime_time .contSectionTime_time_text {
    color: #ffffff;
    font-weight: 300;
    font-size: 16px;
  }
  .contSectionTime .contSectionTime_time .contSectionTime_time_text .spFrid {
    color: #ffb300;
    font-size: 16px;
  }
  .contSectionTime .contSectionTime_time .contSectionTime_time_contPro {
    margin-top: 5px;
  }
  .contSectionTime .contSectionTime_time .contSectionTime_time_contPro .iconPro {
    font-size: 25px;
    color: #ffffff;
  }
  .contSectionTime .contSectionTime_time .contSectionTime_time_contPro .grados {
    font-size: 25px;
    color: #ffffff;
  }
}
.contSectionVisiting {
  width: 100%;
  padding: 30px 50px;
  background: #010101;
  position: relative;
  z-index: 10;
}
.contSectionVisiting .contSectionVisiting_title {
  color: #ffffff;
  font-weight: 600;
  font-size: 35px;
}
.contSectionVisiting .lineTitle {
  margin-top: 5px;
  width: 50px;
  height: 4px;
  background: #ffb300;
  border: none;
  transition: 0.2s linear;
}

.contSectionVisiting:hover .lineTitle {
  width: 200px;
}

@media (min-width: 900px) and (max-width: 1024px) {
  .contSectionVisiting {
    width: 100%;
    padding: 30px 50px;
    background: #010101;
    position: relative;
    z-index: 10;
  }
  .contSectionVisiting .contSectionVisiting_title {
    color: #ffffff;
    font-weight: 600;
    font-size: 35px;
  }
  .contSectionVisiting .lineTitle {
    margin-top: 5px;
    width: 50px;
    height: 4px;
    background: #ffb300;
    border: none;
    transition: 0.2s linear;
  }
}
@media (min-width: 770px) and (max-width: 899px) {
  .contSectionVisiting {
    width: 100%;
    padding: 30px 50px;
    background: #010101;
    position: relative;
    z-index: 10;
  }
  .contSectionVisiting .contSectionVisiting_title {
    width: 400px;
    color: #ffffff;
    font-weight: 600;
    font-size: 30px;
  }
  .contSectionVisiting .lineTitle {
    margin-top: 5px;
    width: 50px;
    height: 4px;
    background: #ffb300;
    border: none;
    transition: 0.2s linear;
  }
}
@media (min-width: 481px) and (max-width: 669px) {
  .contSectionVisiting {
    width: 100%;
    padding: 30px 20px;
    background: #010101;
    position: relative;
    z-index: 10;
  }
  .contSectionVisiting .contSectionVisiting_title {
    width: 350px;
    color: #ffffff;
    font-weight: 600;
    font-size: 30px;
  }
  .contSectionVisiting .lineTitle {
    margin-top: 5px;
    width: 50px;
    height: 4px;
    background: #ffb300;
    border: none;
    transition: 0.2s linear;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .contSectionVisiting {
    width: 100%;
    padding: 50px 15px;
    background: transparent;
    position: relative;
    z-index: 10;
  }
  .contSectionVisiting .contSectionVisiting_title {
    width: 90%;
    color: #ffffff;
    font-weight: 600;
    font-size: 28px;
  }
}
.contSectionParagraph_cont {
  width: 100%;
  padding: 20px 50px;
  background: #010101;
  position: relative;
  z-index: 10;
}
.contSectionParagraph_cont .contSectionParagraph_cont_box {
  width: 100%;
  padding: 3px 0px;
}
.contSectionParagraph_cont .contSectionParagraph_cont_box .iconPara {
  color: #ffb300;
  width: 25px;
  font-size: 18px;
}
.contSectionParagraph_cont .contSectionParagraph_cont_box .spanVisit {
  color: #adadad;
  font-weight: 300;
  font-style: oblique;
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .contSectionParagraph_cont {
    width: 100%;
    padding: 90px 50px;
    background: #010101;
    position: relative;
    z-index: 10;
  }
  .contSectionParagraph_cont .contSectionParagraph_cont_box {
    width: 100%;
    padding: 3px 0px;
  }
  .contSectionParagraph_cont .contSectionParagraph_cont_box .iconPara {
    color: #ffb300;
    width: 25px;
    font-size: 18px;
  }
  .contSectionParagraph_cont .contSectionParagraph_cont_box .spanVisit {
    color: #adadad;
    font-weight: 300;
    font-style: oblique;
  }
}
@media (min-width: 641px) and (max-width: 769px) {
  .contSectionParagraph_cont {
    width: 100%;
    padding-top: 40px;
    padding-right: 50px;
    padding-left: 0px;
    background: #010101;
    position: relative;
    z-index: 10;
  }
  .contSectionParagraph_cont .contSectionParagraph_cont_box {
    width: 100%;
    padding: 3px 0px;
  }
  .contSectionParagraph_cont .contSectionParagraph_cont_box .iconPara {
    color: #ffb300;
    width: 25px;
    font-size: 18px;
  }
  .contSectionParagraph_cont .contSectionParagraph_cont_box .spanVisit {
    color: #adadad;
    font-weight: 300;
    font-style: oblique;
  }
}
@media (min-width: 481px) and (max-width: 640px) {
  .contSectionParagraph_cont {
    width: 100%;
    padding: 20px;
    background: #010101;
    position: relative;
    z-index: 10;
  }
  .contSectionParagraph_cont .contSectionParagraph_cont_box {
    width: 100%;
    padding: 3px 0px;
  }
  .contSectionParagraph_cont .contSectionParagraph_cont_box .iconPara {
    color: #ffb300;
    width: 25px;
    font-size: 16px;
  }
  .contSectionParagraph_cont .contSectionParagraph_cont_box .spanVisit {
    color: #adadad;
    font-weight: 300;
    font-style: oblique;
    font-size: 14px;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .contSectionParagraph_cont {
    width: 100%;
    padding: 5px 15px;
    background: transparent;
  }
  .contSectionParagraph_cont .contSectionParagraph_cont_box {
    width: 100%;
    padding: 3px 0px;
  }
  .contSectionParagraph_cont .contSectionParagraph_cont_box .iconPara {
    color: #ffb300;
    width: 25px;
    font-size: 18px;
  }
  .contSectionParagraph_cont .contSectionParagraph_cont_box .spanVisit {
    color: #adadad;
    font-weight: 300;
    font-style: oblique;
  }
}
.contSectionParagrBtn {
  width: 100%;
  padding: 20px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background: #010101;
  position: relative;
  z-index: 10;
}
.contSectionParagrBtn .contSectionParagrBtn_box {
  width: 48%;
  padding: 5px 0px;
}
.contSectionParagrBtn .contSectionParagrBtn_box .contSectionParagrBtn_box_text {
  color: #adadad;
  text-align: justify;
}
.contSectionParagrBtn .contSectionParagrBtn_box .contSectionParagrBtn_box_button {
  margin-top: 30px;
  margin-left: calc(50% - 55px);
  width: 200px;
  height: 40px;
  border: 2px solid #ffb300;
  padding: 8px;
  border-radius: 40px;
  background: transparent;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s all;
}
.contSectionParagrBtn .contSectionParagrBtn_box .contSectionParagrBtn_box_button .icon {
  margin-left: 25px;
  color: #ffb300;
  transform: translateX(-50px);
  transition: 0.1s linear;
  transition-delay: 0.3s;
  opacity: 0;
}
.contSectionParagrBtn .contSectionParagrBtn_box .contSectionParagrBtn_box_button:hover {
  width: 200px;
  height: 60px;
}
.contSectionParagrBtn .contSectionParagrBtn_box .contSectionParagrBtn_box_button:hover .icon {
  transform: translateX(0px);
  opacity: 1;
}

@media (min-width: 481px) and (max-width: 640px) {
  .contSectionParagrBtn {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background: #010101;
    position: relative;
    z-index: 10;
  }
  .contSectionParagrBtn .contSectionParagrBtn_box {
    width: 48%;
    padding: 5px 0px;
  }
  .contSectionParagrBtn .contSectionParagrBtn_box .contSectionParagrBtn_box_text {
    color: #adadad;
    text-align: justify;
  }
  .contSectionParagrBtn .contSectionParagrBtn_box .contSectionParagrBtn_box_button {
    margin-top: 30px;
    margin-left: 0;
    width: 180px;
    height: 40px;
    border: 2px solid #ffb300;
    padding: 8px;
    border-radius: 40px;
    background: transparent;
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s all;
  }
  .contSectionParagrBtn .contSectionParagrBtn_box .contSectionParagrBtn_box_button .icon {
    margin-left: 25px;
    color: #ffb300;
    transform: translateX(-50px);
    transition: 0.1s linear;
    transition-delay: 0.3s;
    opacity: 0;
  }
  .contSectionParagrBtn .contSectionParagrBtn_box .contSectionParagrBtn_box_button:hover {
    width: 200px;
    height: 60px;
  }
  .contSectionParagrBtn .contSectionParagrBtn_box .contSectionParagrBtn_box_button:hover .icon {
    transform: translateX(0px);
    opacity: 1;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .contSectionParagrBtn {
    width: 100%;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: transparent;
  }
  .contSectionParagrBtn .contSectionParagrBtn_box {
    width: 100%;
    padding: 5px 0px;
  }
  .contSectionParagrBtn .contSectionParagrBtn_box .contSectionParagrBtn_box_text {
    color: #adadad;
    text-align: justify;
  }
  .contSectionParagrBtn .contSectionParagrBtn_box .contSectionParagrBtn_box_button {
    margin-top: 30px;
    margin-left: 0px;
    width: 200px;
    height: 40px;
    border: 2px solid #ffb300;
    padding: 8px;
    border-radius: 40px;
    background: transparent;
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s all;
  }
  .contSectionParagrBtn .contSectionParagrBtn_box .contSectionParagrBtn_box_button .icon {
    margin-left: 25px;
    color: #ffb300;
    transform: translateX(-5px);
    transition: 0.1s linear;
    transition-delay: initial;
    opacity: 1;
  }
  .contSectionParagrBtn .contSectionParagrBtn_box .contSectionParagrBtn_box_button:hover {
    width: 200px;
    height: 40px;
  }
  .contSectionParagrBtn .contSectionParagrBtn_box .contSectionParagrBtn_box_button:hover .icon {
    transform: translateX(5px);
    opacity: 1;
  }
}
/*
contImage
*/
.contImage {
  width: 100%;
  height: 300px;
  padding-left: 50px;
  background: #010101;
}

@media (min-width: 900px) and (max-width: 1024px) {
  .contImage {
    width: 100%;
    height: 300px;
    padding-left: 50px;
    background: #010101;
  }
}
@media (min-width: 770px) and (max-width: 899px) {
  .contImage {
    width: 100%;
    height: auto;
    padding: 0px 50px;
    background: #010101;
  }
}
@media (min-width: 481px) and (max-width: 640px) {
  .contImage {
    width: 100%;
    height: auto;
    padding: 0px 10px;
    background: #010101;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .contImage {
    width: 100%;
    height: initial;
    padding-left: initial;
    background: #010101;
  }
}
.contParanormal {
  width: 100%;
  padding: 80px 50px;
  background: #010101;
}
.contParanormal .contParanormal_title {
  color: #ffffff;
  font-weight: 600;
  font-size: 35px;
}
.contParanormal .linePara {
  margin-top: 5px;
  width: 50px;
  border: none;
  height: 5px;
  background: #ffb300;
  transition: 0.2s linear;
}
.contParanormal .contParanormal_paraph {
  margin-top: 30px;
  color: #adadad;
}

.contParanormal:hover .linePara {
  width: 200px;
}

@media (min-width: 900px) and (max-width: 1024px) {
  .contParanormal {
    width: 100%;
    padding: 20px 50px;
    background: #010101;
  }
  .contParanormal .contParanormal_title {
    color: #ffffff;
    font-weight: 600;
    font-size: 35px;
  }
  .contParanormal .linePara {
    margin-top: 5px;
    width: 50px;
    border: none;
    height: 5px;
    background: #ffb300;
    transition: 0.2s linear;
  }
  .contParanormal .contParanormal_paraph {
    margin-top: 30px;
    color: #adadad;
  }
}
@media (min-width: 770px) and (max-width: 899px) {
  .contParanormal {
    width: 100%;
    padding: 20px 50px;
    background: #010101;
  }
  .contParanormal .contParanormal_title {
    width: 400px;
    color: #ffffff;
    font-weight: 600;
    font-size: 30px;
  }
  .contParanormal .linePara {
    margin-top: 5px;
    width: 50px;
    border: none;
    height: 5px;
    background: #ffb300;
    transition: 0.2s linear;
  }
  .contParanormal .contParanormal_paraph {
    margin-top: 30px;
    color: #adadad;
  }
}
@media (min-width: 481px) and (max-width: 640px) {
  .contParanormal {
    width: 100%;
    padding: 20px;
    background: #010101;
  }
  .contParanormal .contParanormal_title {
    width: 350px;
    color: #ffffff;
    font-weight: 600;
    font-size: 30px;
  }
  .contParanormal .linePara {
    margin-top: 5px;
    width: 50px;
    border: none;
    height: 5px;
    background: #ffb300;
    transition: 0.2s linear;
  }
  .contParanormal .contParanormal_paraph {
    margin-top: 30px;
    color: #adadad;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .contParanormal {
    width: 100%;
    padding: 50px 15px;
    background: #010101;
  }
  .contParanormal .contParanormal_title {
    width: 60%;
    color: #ffffff;
    font-weight: 600;
    font-size: 28px;
  }
  .contParanormal .contParanormal_paraph {
    margin-top: 30px;
    color: #adadad;
    text-align: justify;
  }

  .contParanormal:hover .linePara {
    width: 200px;
  }
}
.contDiscoveries {
  width: 100%;
  padding: 80px 50px;
  background: #010101;
}
.contDiscoveries .contDiscoveries_title {
  color: #ffffff;
  font-weight: 600;
  font-size: 35px;
}
.contDiscoveries .lineDis {
  margin-top: 5px;
  width: 50px;
  height: 5px;
  border: none;
  background: #ffb300;
  transition: 0.2s linear;
}
.contDiscoveries .contDiscoveries_paragraph {
  margin-top: 25px;
  color: #adadad;
}
.contDiscoveries .contDiscoveries_btn {
  margin-top: 30px;
  width: 200px;
  height: 40px;
  border: 2px solid #ffb300;
  padding: 8px;
  border-radius: 40px;
  background: transparent;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s all;
}
.contDiscoveries .contDiscoveries_btn .icon {
  margin-left: 25px;
  color: #ffb300;
  transform: translateX(-50px);
  transition: 0.1s linear;
  transition-delay: 0.3s;
  opacity: 0;
}
.contDiscoveries .contDiscoveries_btn:hover {
  width: 200px;
  height: 60px;
}
.contDiscoveries .contDiscoveries_btn:hover .icon {
  transform: translateX(0px);
  opacity: 1;
}

.contDiscoveries:hover .lineDis {
  width: 200px;
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .contDiscoveries {
    width: 100%;
    padding: 20px 50px;
    background: #010101;
  }
  .contDiscoveries .contDiscoveries_title {
    color: #ffffff;
    font-weight: 600;
    font-size: 35px;
  }
  .contDiscoveries .lineDis {
    margin-top: 5px;
    width: 50px;
    height: 5px;
    border: none;
    background: #ffb300;
    transition: 0.2s linear;
  }
  .contDiscoveries .contDiscoveries_paragraph {
    margin-top: 25px;
    color: #adadad;
  }
  .contDiscoveries .contDiscoveries_btn {
    margin-top: 30px;
    width: 200px;
    height: 40px;
    border: 2px solid #ffb300;
    padding: 8px;
    border-radius: 40px;
    background: transparent;
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s all;
  }
  .contDiscoveries .contDiscoveries_btn .icon {
    margin-left: 25px;
    color: #ffb300;
    transform: translateX(-50px);
    transition: 0.1s linear;
    transition-delay: 0.3s;
    opacity: 0;
  }
  .contDiscoveries .contDiscoveries_btn:hover {
    width: 200px;
    height: 60px;
  }
  .contDiscoveries .contDiscoveries_btn:hover .icon {
    transform: translateX(0px);
    opacity: 1;
  }
}
@media (min-width: 900px) and (max-width: 1024px) {
  .contDiscoveries {
    width: 100%;
    padding: 20px 50px;
    background: #010101;
  }
  .contDiscoveries .contDiscoveries_title {
    color: #ffffff;
    font-weight: 600;
    font-size: 35px;
  }
  .contDiscoveries .lineDis {
    margin-top: 5px;
    width: 50px;
    height: 5px;
    border: none;
    background: #ffb300;
    transition: 0.2s linear;
  }
  .contDiscoveries .contDiscoveries_paragraph {
    margin-top: 25px;
    color: #adadad;
  }
  .contDiscoveries .contDiscoveries_btn {
    margin-top: 30px;
    width: 200px;
    height: 40px;
    border: 2px solid #ffb300;
    padding: 8px;
    border-radius: 40px;
    background: transparent;
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s all;
  }
  .contDiscoveries .contDiscoveries_btn .icon {
    margin-left: 25px;
    color: #ffb300;
    transform: translateX(-50px);
    transition: 0.1s linear;
    transition-delay: 0.3s;
    opacity: 0;
  }
  .contDiscoveries .contDiscoveries_btn:hover {
    width: 200px;
    height: 60px;
  }
  .contDiscoveries .contDiscoveries_btn:hover .icon {
    transform: translateX(0px);
    opacity: 1;
  }
}
@media (min-width: 770px) and (max-width: 899px) {
  .contDiscoveries {
    width: 100%;
    padding: 20px 50px;
    background: #010101;
  }
  .contDiscoveries .contDiscoveries_title {
    width: 400px;
    color: #ffffff;
    font-weight: 600;
    font-size: 30px;
  }
  .contDiscoveries .lineDis {
    margin-top: 5px;
    width: 50px;
    height: 5px;
    border: none;
    background: #ffb300;
    transition: 0.2s linear;
  }
  .contDiscoveries .contDiscoveries_paragraph {
    margin-top: 25px;
    color: #adadad;
  }
  .contDiscoveries .contDiscoveries_btn {
    margin-top: 30px;
    width: 200px;
    height: 40px;
    border: 2px solid #ffb300;
    padding: 8px;
    border-radius: 40px;
    background: transparent;
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s all;
  }
  .contDiscoveries .contDiscoveries_btn .icon {
    margin-left: 25px;
    color: #ffb300;
    transform: translateX(-50px);
    transition: 0.1s linear;
    transition-delay: 0.3s;
    opacity: 0;
  }
  .contDiscoveries .contDiscoveries_btn:hover {
    width: 200px;
    height: 60px;
  }
  .contDiscoveries .contDiscoveries_btn:hover .icon {
    transform: translateX(0px);
    opacity: 1;
  }
}
@media (min-width: 481px) and (max-width: 640px) {
  .contDiscoveries {
    width: 100%;
    padding: 20px;
    background: #010101;
  }
  .contDiscoveries .contDiscoveries_title {
    width: 350px;
    color: #ffffff;
    font-weight: 600;
    font-size: 30px;
  }
  .contDiscoveries .lineDis {
    margin-top: 5px;
    width: 50px;
    height: 5px;
    border: none;
    background: #ffb300;
    transition: 0.2s linear;
  }
  .contDiscoveries .contDiscoveries_paragraph {
    margin-top: 25px;
    color: #adadad;
  }
  .contDiscoveries .contDiscoveries_btn {
    margin-top: 30px;
    width: 200px;
    height: 40px;
    border: 2px solid #ffb300;
    padding: 8px;
    border-radius: 40px;
    background: transparent;
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s all;
  }
  .contDiscoveries .contDiscoveries_btn .icon {
    margin-left: 25px;
    color: #ffb300;
    transform: translateX(-50px);
    transition: 0.1s linear;
    transition-delay: 0.3s;
    opacity: 0;
  }
  .contDiscoveries .contDiscoveries_btn:hover {
    width: 200px;
    height: 60px;
  }
  .contDiscoveries .contDiscoveries_btn:hover .icon {
    transform: translateX(0px);
    opacity: 1;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .contDiscoveries {
    width: 100%;
    padding: 50px 15px;
    background: #010101;
  }
  .contDiscoveries .contDiscoveries_title {
    color: #ffffff;
    font-weight: 600;
    font-size: 28px;
  }
  .contDiscoveries .contDiscoveries_paragraph {
    margin-top: 25px;
    color: #adadad;
    text-align: justify;
  }
  .contDiscoveries .contDiscoveries_btn {
    margin-top: 30px;
    width: 200px;
    height: 40px;
    border: 2px solid #ffb300;
    padding: 8px;
    border-radius: 40px;
    background: transparent;
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s all;
  }
  .contDiscoveries .contDiscoveries_btn .icon {
    margin-left: 25px;
    color: #ffb300;
    transform: translateX(-5px);
    transition: 0.1s linear;
    transition-delay: initial;
    opacity: 1;
  }
  .contDiscoveries .contDiscoveries_btn:hover {
    width: 200px;
    height: 40px;
  }
  .contDiscoveries .contDiscoveries_btn:hover .icon {
    transform: translateX(5px);
    opacity: 1;
  }

  .contDiscoveries:hover .lineDis {
    width: 200px;
  }
}
/**
contVideo
*/
.contVideo {
  width: 100%;
  padding: 10px 0px;
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .contVideo {
    width: 100%;
    padding: 50px 0px;
  }
}
@media (min-width: 481px) and (max-width: 640px) {
  .contVideo {
    width: 100%;
    padding: 10px 0px;
  }
}
.contFooter {
  width: 100%;
  padding: 30px 50px;
  background: #010101;
}
.contFooter .lineFoot {
  margin: 20px auto;
  width: 90%;
  height: 1px;
  background: #adadad;
  border: none;
}
.contFooter .contFooter_cont {
  margin-top: 30px;
  width: 100%;
  background: #010101;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.contFooter .contFooter_cont .contFooter_cont_boxLeft {
  width: 300px;
  padding: 5px 0px;
}
.contFooter .contFooter_cont .contFooter_cont_boxLeft .contFooter_cont_boxLeft_title {
  color: #ffffff;
  font-family: "Kolker Brush", cursive;
  font-size: 50px;
}
.contFooter .contFooter_cont .contFooter_cont_boxLeft .contFooter_cont_boxLeft_paragraph {
  color: #adadad;
  font-style: italic;
}
.contFooter .contFooter_cont .contFooter_cont_boxRight {
  width: 400px;
  padding: 5px 0px;
}
.contFooter .contFooter_cont .contFooter_cont_boxRight .contFooter_cont_boxRight_ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.contFooter .contFooter_cont .contFooter_cont_boxRight .contFooter_cont_boxRight_ul .contFooter_cont_boxRight_ul_li {
  padding: 5px;
}
.contFooter .contFooter_cont .contFooter_cont_boxRight .contFooter_cont_boxRight_ul .contFooter_cont_boxRight_ul_li .liLink {
  text-decoration: none;
  color: #ffffff;
}
.contFooter .contFooter_cont .contFooter_cont_boxRight .contFooter_cont_boxRight_ul .contFooter_cont_boxRight_ul_li .liLink:hover {
  font-weight: 600;
}

@media (min-width: 320px) and (max-width: 640px) {
  .contFooter {
    width: 100%;
    padding: 50px 15px;
    background: #010101;
  }
  .contFooter .lineFoot {
    margin: 20px auto;
    width: 90%;
    height: 1px;
    background: #adadad;
    border: none;
  }
  .contFooter .contFooter_cont {
    margin-top: 30px;
    width: 100%;
    background: #010101;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .contFooter .contFooter_cont .contFooter_cont_boxLeft {
    width: 100%;
    padding: 5px 0px;
  }
  .contFooter .contFooter_cont .contFooter_cont_boxLeft .contFooter_cont_boxLeft_title {
    color: #ffffff;
    font-family: "Kolker Brush", cursive;
    font-size: 50px;
    text-align: center;
  }
  .contFooter .contFooter_cont .contFooter_cont_boxLeft .contFooter_cont_boxLeft_paragraph {
    color: #adadad;
    font-style: italic;
    text-align: center;
  }
  .contFooter .contFooter_cont .contFooter_cont_boxRight {
    width: 100%;
    padding: 5px 0px;
  }
  .contFooter .contFooter_cont .contFooter_cont_boxRight .contFooter_cont_boxRight_ul {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
  }
  .contFooter .contFooter_cont .contFooter_cont_boxRight .contFooter_cont_boxRight_ul .contFooter_cont_boxRight_ul_li {
    padding: 5px;
  }
  .contFooter .contFooter_cont .contFooter_cont_boxRight .contFooter_cont_boxRight_ul .contFooter_cont_boxRight_ul_li .liLink {
    text-decoration: none;
    color: #ffffff;
  }
  .contFooter .contFooter_cont .contFooter_cont_boxRight .contFooter_cont_boxRight_ul .contFooter_cont_boxRight_ul_li .liLink:hover {
    font-weight: 600;
  }
}
.contBtnTop {
  width: 50px;
  height: 50px;
  padding: 10px;
  background-image: url(../images/up-arrow.png);
  background-size: 100% 100%;
  position: fixed;
  bottom: 30px;
  right: 20px;
  z-index: 20;
  cursor: pointer;
  opacity: 0;
  transition: 0.3s all;
}

.contBtnTop_JS {
  opacity: 1;
}

/*# sourceMappingURL=main.css.map */
