@import "variables";



.contSectionVisiting{
    width: 100%;
    padding: 30px 50px;
    background:$color_black;
    position: relative;
    z-index: 10;
    .contSectionVisiting_title{
        color: $color_white;
        font-weight: $font_weight_SemiBold;
        font-size:$font_size_subtitle;
    }

    .lineTitle{
        margin-top: 5px;
        width: 50px;
        height: 4px;
        background: $color_green;
        border: none;
        transition: 0.2s linear;
    }
}

.contSectionVisiting:hover{
    .lineTitle{
        width: 200px;
    } 
}

