@import "variables";

/*
contDiscoveries
contDiscoveries_title
lineDis
contDiscoveries_paragraph
contDiscoveries_btn
*/


.contDiscoveries{
    width: 100%;
    padding: 80px 50px;
    background: $color_black;
    .contDiscoveries_title{
        color: $color_white;
        font-weight: $font_weight_SemiBold;
        font-size: $font_size_subtitle;
    }

    .lineDis{
        margin-top: 5px;
        width: 50px;
        height: 5px;
        border: none;
        background: $color_green;
        transition: 0.2s linear;
    }

    .contDiscoveries_paragraph{
        margin-top: 25px;
        color: $color_grey;
    }

    .contDiscoveries_btn{
            margin-top: 30px;
            width: 200px;
            height: 40px;
            border: 2px solid $color_green;
            padding: 8px;
            border-radius: 40px;
            background: transparent;
            color: $color_white;
            cursor: pointer;
            transition: 0.3s all;
            .icon{
                margin-left: 25px;
                color: $color_green;
                transform: translateX(-50px);
                transition: 0.1s linear;
                transition-delay: 0.3s;
                opacity: 0;
    
            }
    }

    .contDiscoveries_btn:hover{
        width: 200px;
        height: 60px;
        .icon{
            transform: translateX(0px);
            opacity: 1;
        }
    }
}

.contDiscoveries:hover{
    .lineDis{
        width: 200px;
    }
}