@import "variables";

/*
contSectionParagrBtn
contSectionParagrBtn_box
contSectionParagrBtn_box_text


contSectionParagrBtn_box
contSectionParagrBtn_box_text
contSectionParagrBtn_box_button
*/

.contSectionParagrBtn{
    width: 100%;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: $color_black;
    .contSectionParagrBtn_box{
        width:100%;
        padding: 5px 0px;
        .contSectionParagrBtn_box_text{
            color: $color_grey;
            text-align: justify;
        }

        .contSectionParagrBtn_box_button{
            margin-top: 30px;
            margin-left: 130px;
            width: 200px;
            height: 40px;
            border: 2px solid $color_green;
            padding: 8px;
            border-radius: 40px;
            background: transparent;
            color: $color_white;
            cursor: pointer;
            transition: 0.3s all;
            .icon{
                margin-left: 25px;
                color: $color_green;
                transform: translateX(0px);
                transition: 0.1s linear;
                transition-delay: 0.3s;
                opacity: 1;
    
            }
            
        }

        .contSectionParagrBtn_box_button:hover{
            width: 200px;
            height: 40px;
            .icon{
                transform: translateX(0px);
                opacity: 1;
            }
        }

    }

    
}