@import "variables";

.imagenFlotante{
    width: 100%;
    padding: 0px;
    position: absolute;
    top: 0px;
    z-index: 0;
    
}


@media (min-width:320px) and (max-width:640px){
    .imagenFlotante{
        display: none;
    }
}