
//COLORS
$color_white:#ffffff;
$color_green:#ffb300;
$color_grey:#adadad;
$color_black:#010101;
$color_blackClaro:#1c1c1c;




//FONT FAMILY
$font_family_kolker:'Kolker Brush', cursive;
// 200    400   700
//Fonts weight
$font_weight_ExtraLight:200;
$font_weight_regular:200;
$font_weight_bold:700;



//FONT
$font_family_monserrat:'Montserrat', sans-serif;
$font_weight_Light: 300;
$font_weight_SemiBold: 600;
$font_weight_Black:900;




//SIZE
$font_size_subtitle:35px;

