@import "variables";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Montserrat', sans-serif;
    font-weight: $font_weight_Light;
}


body{
    scroll-behavior:unset;

}

body::-webkit-scrollbar{
    width: 15px;
    
}
body::-webkit-scrollbar-thumb{
    background:$color_green;
    height: 100px;
}
body::-webkit-scrollbar-thumb:hover{
    background:rgb(202, 131, 1);
    height: 150px;
    
}



@import "grid_main";
@import "imagenFlotante";
@import "imageFlotanteMovil";
@import "grid_header";
@import "grid_sectionTime";
@import "grid_sectionVisiting";
@import "grid_section_paragraph";
@import "grid_section_paragraphBtn";
@import "grid_image";
@import "grid_paranormal";
@import "grid_discoveries";
@import "grid_video";
@import "grid_footer";
